{% extends 'base/index_base.html' %}

{% block head %}
<meta name="referrer" content="none">
{% endblock %}

{% block title %}
    科学欢乐小视频
{% endblock %}

{% block main %}
    <div class="container mt-4 mb-4" style="min-height: 77vh;">
        <div class="row mb-4">
            <h4 class="pl-3">Japan Hot Video，每小时实时更新，上次更新时间为<span class="text-danger">{{ update_time }}</span>的数据</h4>
        </div>
        <div class="row">
            {% for item in list_data %}
                <div class="col-sm-2 p-0">
                    <div class="col-sm-12 " title="{{ item.title }}">
                        <video muted class="w-100 h-100" controls autoplay loop>
                          <source src="{{ item.preview_video_url }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-sm-12">
                        <a href="{{ item.video_url }}" target="_blank">
                            <small><p class="" title="{{ item.title }}">{{ item.title | slice:':30'  }}</p></small>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}