{% extends 'cms/base/dashboard_base.html' %}

{% block title %}
Home
{% endblock %}

{% block head %}

{% endblock %}

{% block main %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row d-flex justify-content-around pt-4 mb-4">
            <p class="h3">《用Django全栈开发——14. CMS中添加Category和Tag管理》</p>
            <p class="h5">公众号『皮爷撸码』，连载更新此系统的开发教程，敬请关注</p>
        </div>
        <div class="row d-flex justify-content-around">
            <img class="img-thumbnail" src="https://www.peekpa.tech/asserts/img/qrcode.jpg" alt="">
        </div>
    </div>
</section>

{% endblock %}