#post-content{
    p {
        line-height: 28px;
        img{
            width: 100%!important;
        }
    }

    pre {
        background-color: rgb(45,45,45);
        color: #ccc;
        padding: 1.5rem!important;
    }
}