<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="https://via.placeholder.com/100x100" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"><b>Peekpa</b>控制台</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                {% url 'cms:post_manage_view' as post_manage_view %}
                {% url 'cms:post_publish_view' as post_publish_view %}
                <li class="nav-item has-treeview {% if request.path == post_manage_view or request.path == post_publish_view %}menu-open{% endif %}">
                    <a href="{{ post_manage_view }}" class="nav-link {% if request.path == post_manage_view or request.path == post_publish_view %}active{% endif %}">
                      <i class="nav-icon far fa-copy"></i>
                      <p>
                        Post
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{{ post_manage_view }}" class="nav-link {% if request.path == post_manage_view %}active{% endif %}">
                          <i class="nav-icon fas fa-list"></i>
                          <p>Post Management</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ post_publish_view }}" class="nav-link {% if request.path == post_publish_view %}active{% endif %}">
                          <i class="nav-icon far fa-plus-square"></i>
                          <p>Post Publish</p>
                        </a>
                      </li>
                    </ul>
                </li>
                {% url 'cms:category_manage_view' as category_manage_view %}
                {% url 'cms:category_publish_view' as category_publish_view %}
                <li class="nav-item has-treeview {% if request.path == category_manage_view or request.path == category_publish_view %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if request.path == category_manage_view or request.path == category_publish_view %}active{% endif %}">
                      <i class="nav-icon far fa-bookmark"></i>
                      <p>
                        Category
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{{ category_manage_view }}" class="nav-link {% if request.path == category_manage_view %}active{% endif %}">
                          <i class="nav-icon fas fa-list"></i>
                          <p>Category Management</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ category_publish_view }}" class="nav-link {% if request.path == category_publish_view %}active{% endif %}">
                          <i class="nav-icon far fa-plus-square"></i>
                          <p>Category Publish</p>
                        </a>
                      </li>
                    </ul>
                </li>
                {% url 'cms:tag_manage_view' as tag_manage_view %}
                {% url 'cms:tag_publish_view' as tag_publish_view %}
                <li class="nav-item has-treeview {% if request.path == tag_manage_view or request.path == tag_publish_view %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if request.path == tag_manage_view or request.path == tag_publish_view %}active{% endif %}">
                      <i class="nav-icon fas fa-tags"></i>
                      <p>
                        Tag
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{% url 'cms:tag_manage_view' %}" class="nav-link {% if request.path == tag_manage_view %}active{% endif %}">
                          <i class="nav-icon fas fa-list"></i>
                          <p>Tag Management</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'cms:tag_publish_view' %}" class="nav-link {% if request.path == tag_publish_view %}active{% endif %}">
                          <i class="nav-icon far fa-plus-square"></i>
                          <p>Tag Publish</p>
                        </a>
                      </li>
                    </ul>
                </li>
                {% url 'cms:exchangelink_manage_view' as exchangelink_manage_view %}
                {% url 'cms:exchangelink_publish_view' as exchangelink_publish_view %}
                <li class="nav-item has-treeview {% if request.path == exchangelink_manage_view or request.path == exchangelink_publish_view %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if request.path == exchangelink_manage_view or request.path == exchangelink_publish_view %}active{% endif %}">
                      <i class="nav-icon fas fa-link"></i>
                      <p>
                        ExchangeLink
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{% url 'cms:exchangelink_manage_view' %}" class="nav-link {% if request.path == exchangelink_manage_view %}active{% endif %}">
                          <i class="nav-icon fas fa-list"></i>
                          <p>ExchangeLink Management</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'cms:exchangelink_publish_view' %}" class="nav-link {% if request.path == exchangelink_publish_view %}active{% endif %}">
                          <i class="nav-icon far fa-plus-square"></i>
                          <p>ExchangeLink Publish</p>
                        </a>
                      </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>