<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="https://via.placeholder.com/100x100" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"><b>Peekpa</b>控制台</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="pages/gallery.html" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-header">CATEGORY</li>
                <li class="nav-item">
                    <a href="{% url 'cms:category_manage_view' %}" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Category Management
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cms:category_publish_view' %}" class="nav-link">
                        <i class="nav-icon far fa-plus-square"></i>
                        <p>
                            Category Publish
                        </p>
                    </a>
                </li>
                <li class="nav-header">TAG</li>
                <li class="nav-item">
                    <a href="{% url 'cms:tag_manage_view' %}" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Tag Management
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cms:tag_publish_view' %}" class="nav-link">
                        <i class="nav-icon far fa-plus-square"></i>
                        <p>
                            Tag Publish
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>