{% extends 'cms/base/dashboard_base.html' %}

{% block head %}
    <script src="{% static 'js/user_manage.min.js' %}"></script>
{% endblock %}

{% block title %}
    User Management
{% endblock %}

{% block main %}
    <section class="content">
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row p-2 d-flex justify-content-between">
                                <p class="h3">User</p>
                                <div class="float-right">
                                    <a class="btn btn-primary text-right" href="{% url 'cms:user_publish_view' %}"><i class="mr-2 fas fa-plus"></i>Add</a>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>username</th>
                                        <th>email</th>
                                        <th>is_active</th>
                                        <th>is_staff</th>
                                        <th>is_superuser</th>
                                        <th>data_joined</th>
                                        <th width="15%">actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in list_data %}
                                        <tr>
                                            <td>{{ item.username }}</td>
                                            <td>{{ item.email }}</td>
                                            <td>{{ item.is_active }}</td>
                                            <td>{{ item.is_staff }}</td>
                                            <td>{{ item.is_superuser }}</td>
                                            <td>{{ item.data_joined }}</td>
                                            <td>
                                                <a href="#" class="btn btn-info btn-xs">Modify</a>
                                                {% if not item.is_superuser %}
                                                    <button class="btn btn-danger btn-xs delete-btn" data-user-id="{{ item.uid}}">
                                                        Delete
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
